@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit, sans-serif;
}
::-webkit-scrollbar{
  @apply hidden
}

@media(max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}
